
<%= render 'banner' %>
  <div class="row"style="background-color: orange; " >
    <div class="col-4" style="padding: 0">
      <div class="d-flex justify-content: flex-start;">
       <div class="card m-1" style=" border: none; margin: 0; padding: 0 0 0 0">
          <%= image_tag("home1.jpg", size: '450x450') %>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding: 0">
      <div class="d-flex ">
        <div class="card m-1" style=" border: none; margin: 0; padding: 0 0 0 0">
            <%= image_tag("home2.jpg", size: '450x450') %>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding: 0">
      <div class="d-flex justify-content: flex-start;">
        <div class="card m-1" style=" border: none; margin: 0; padding: 0 0 0 0">
            <%= image_tag("home4.jpg", size: '450x450') %>
        </div>
      </div>
    </div>
  </div>
    <div class="row border border-warning" style="width: 100%">
      <div class="col" style="">
        <h2>Women</h2>
      </div>
      <div class="col">
        <h2>Men</h2>
      </div>
       <div class="col">
        <h2>Kids</h2>
      </div>
    </div>


<div class="container">
  <div>
    <h2 >It's Boot Season</h2>
    <%= image_tag("drmarten.jpg", size: '600x600') %>
  </div>
  <div class="row">
    <div class="col">
      <div class="flex-direction: row justify-content: flex-end">
        <div class="card m-1" style="border: none;">
          <h2>Back to School</h2>
         <%= image_tag("back2school.jpg", size: '600x600') %>
        </div>
      </div>
    </div>
  </div>
</div>
  <h2 style="text-align: center;"> New Arrivals</h2>
  <div class="row">
    <% Shoe.all.order(id: :desc).limit(3).each do  |s|%>
      <div class="col">
        <div class="flex-direction: row">
          <div class="card m-1" style="width: 18rem; border: none;">
            <%= link_to shoe_path(s) do %>
            <%= cl_image_tag s.photos.first.key, dpr: 2.0, class:"card-img-top mb-3"%>
    <% end %>
    <% end %>
          </div>
        </div>
      </div>
  </div>

<h2>You may also like...</h2>

