<!-- <form class="form-inline d-flex md-form form-sm justify-content-center">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Find your sole mate"
      aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
  </form>
 -->
 <div style="background-color: orange; margin-bottom: 16px:">
   <div class="topnav">
    <%= link_to "Womens", shoes_path(:department=>"Women's") %>
    <%= link_to "Mens", shoes_path(:department=>"Mens") %>
    <%= link_to "Kids", shoes_path(:department=>"Kids") %>
    <%= link_to "Trainers", shoes_path(:category=>"Trainers") %>
    <%= link_to "Boots", shoes_path(:category=>"Boots") %>
  </div>
</div>

    <div class="search-form form-inline d-flex md-form justify-content-center" style="margin-top: 16px">
      <%= form_tag shoes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your sole mate"%>
      <i class="fas fa-search"></i>
      <% end %>
    </div>

<% if user_signed_in? && current_user.admin == true  %>
<%= link_to "create shoes",  new_shoe_path %>
<% end %>
<%#= render 'sidebar' %>
<div class="container">
  <div class="row">
  <%@shoes.each do |shoe| %>
    <div class="col">
      <div class="flex-direction: row">
      <div class="card m-1" style="width: 18rem; border: none;">
        <% if shoe.photos.attached? %>
            <%= link_to shoe_path(shoe) do %>
            <%= cl_image_tag shoe.photos.first.key, crop: :scale, class:"card-img-top mb-3"%>
          <% end %>
        <% end %>
        <div class="card-body" style="color: black; padding: 4px 4px 4px 0px;">
            <%= shoe.brand %>
        </div>
        <p class="card-text" style="color: light-gray; min-height: fit-content; padding: 0; margin: 0;"><%= shoe.name %></p>
        <p class="card-text" style="color: light-gray; min-height: fit-content; padding: 0; margin: 0;;"><%= shoe.colour %></p>
        <p class="card-text" style="color: orange; min-height: fit-content; padding: 0; margin: 0;">£<%= shoe.price %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

